For Loops

In [1]:
cities = ['San Francisco', 'Los Angeles', 'New York', 'Atlanta']

for city in cities:
    print(city)

San Francisco
Los Angeles
New York
Atlanta

In [2]:
data = {'city': 'San Francisco', 'population': 881549, 'coordinates': (-122.4194, 37.7749) }

for x, y in data.items():
    print(x, y)

city San Francisco
population 881549
coordinates (-122.4194, 37.7749)

In [3]:
for x in range(5):
    print(x)

0
1
2
3
4

In [4]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

Conditionals

In [5]:
for city in cities:
    if city == 'Atlanta':
        print(city)

Atlanta

In [6]:
for city in cities:
    if city == 'Atlanta':
        print(city)
    else:
        print('This is not Atlanta')

This is not Atlanta
This is not Atlanta
This is not Atlanta
Atlanta

In [7]:
cities_population = {
    'San Francisco': 881549,
    'Los Angeles': 3792621,
    'New York': 8175133,
    'Atlanta':498044
}

for city, population in cities_population.items():
    if population < 1000000:
        print('{} is a small city'.format(city))
    elif population > 1000000 and population < 5000000:
        print('{} is a big city'.format(city))
    else:
        print('{} is a mega city'.format(city))

San Francisco is a small city
Los Angeles is a big city
New York is a mega city
Atlanta is a small city

Control Statements

In [8]:
for city in cities:
    print(city)
    if city == 'Los Angeles':
        print('I found Los Angeles')
        break

San Francisco
Los Angeles
I found Los Angeles

In [9]:
for city in cities:
    if city == 'Los Angeles':
        continue
    print(city)

San Francisco
New York
Atlanta

In [10]:
for city in cities:
    if city == 'Los Angeles':
        pass
    else:
        print(city)

San Francisco
New York
Atlanta

Exercise

In [11]:
for x in range(1, 10):
    if x%2 == 0:
        print('{} is divisible by 2'.format(x))
    else:
        print('{} is not divisible by 2'.format(x))

1 is not divisible by 2
2 is divisible by 2
3 is not divisible by 2
4 is divisible by 2
5 is not divisible by 2
6 is divisible by 2
7 is not divisible by 2
8 is divisible by 2
9 is not divisible by 2

In [13]:
for num in range(1, 100):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz", end=", ")
    elif num % 3 == 0:
        print("Fizz", end=", ")
    elif num % 5 == 0:
        print("Buzz", end=", ")
    else:
        print(num, end=", ")

1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, FizzBuzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, FizzBuzz, 31, 32, Fizz, 34, Buzz, Fizz, 37, 38, Fizz, Buzz, 41, Fizz, 43, 44, FizzBuzz, 46, 47, Fizz, 49, Buzz, Fizz, 52, 53, Fizz, Buzz, 56, Fizz, 58, 59, FizzBuzz, 61, 62, Fizz, 64, Buzz, Fizz, 67, 68, Fizz, Buzz, 71, Fizz, 73, 74, FizzBuzz, 76, 77, Fizz, 79, Buzz, Fizz, 82, 83, Fizz, Buzz, 86, Fizz, 88, 89, FizzBuzz, 91, 92, Fizz, 94, Buzz, Fizz, 97, 98, Fizz,